// spacing
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;
$space-xl: 64px;

// colors
$white: #fff;
$black: #000;
$blue: #4296cc;
$orange: #ca5618;
$gray1: #ededed;
$gray2: #7b7b7b;
