header {
  border-bottom: 1px solid $gray1;
  .nav-desktop {
    width: 100%;
    color: $blue;
    height: 72px;
    padding: 0 $space-lg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      > div {
        margin: $space-xs 0;
      }
    }
    > div span {
      margin-right: $space-xs;
    }
  }
}

body {
  font-family: "Oswald";
  font-weight: $normal;
}

main {
  margin: $space-lg 0;
}

p {
  margin: 0;
}

.amount,
.address,
.external-link {
  color: $orange;
}

.status {
  color: $gray2;
  img {
    height: 32px;
    margin-right: $space-sm;
  }
}
// PayForm
.pay-form {
  margin-bottom: $space-lg;
  padding: $space-md;
  border: 1px solid $gray1;
  border-radius: 4px;
  input,
  textarea {
    margin-bottom: $space-md;
  }
  /* For Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  /* Webkit browsers like Safari and Chrome */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .row-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row-80-20 {
    flex-direction: column;
    input {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      flex-direction: row;
      input:first-child {
        width: 80%;
      }
      input:last-child {
        width: calc(20% - 16px);
      }
    }
  }
  .submit {
    cursor: pointer;
    border: none;
    background-color: $blue;
    color: $white;
    transition: 400ms;
    margin: 0;
    width: 2*$space-xl;
    &:hover {
      transition: 400ms;
      background-color: darken($blue, 20%);
    }
  }
}

// TransactionList
.transaction-list {
  @include list-no-style;
  padding: $space-md;
  border: 1px solid $gray1;
  border-radius: 4px;
  > li {
    &:not(:last-of-type) {
      border-bottom: 1px solid $gray1;
    }
    padding: $space-sm 0;
    p:first-child {
      display: flex;
      justify-content: space-between;
      .timestamp {
        color: $gray2;
        font-weight: $light;
      }
    }
    p:last-child {
      margin: $space-sm 0;
      font-weight: $light;
    }
  }
}
